* {
  box-sizing: border-box;
}

body {
  color: white;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas: "info-section    info-section  the-bassador  photo-area"
                       "my-rescue-story activities    favorite-toys photo-area"
                       "quirks          family        obsessions    photo-area";
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  margin: 0;
  width: 100%;
}

.info-section {
  background-color: #00BCD4;
  flex-direction: column;
  grid-area: info-section;
  justify-content: center;
  padding: 23px;
}

p {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 7px 0;
}

form {
  margin-top: 17px;
}

.info-btn {
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  height: 45px;
  width: 160px;
  margin-top: 0;
  margin-right: 8px;
}

.the-bassador {
  background-color: #BDBDBD;
  grid-area: the-bassador;
}

.basset-hound {
  width: 20%;
}

h6 {
  font-size: 14px;
  margin: 12px;
  text-align: center;
}

.grid-squares {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-area {
  grid-area: photo-area;
  position: relative;
  padding: 0;
}

.tobias-picture {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.left-photo-scroll-btn,
.right-photo-scroll-btn {
  background-color: black;
  border: 4px solid #00BCD4;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  height: 40px;
  margin: 0;
  opacity: .4;
  position: absolute;
  text-align: center; 
  width: 40px;
}


.left-photo-scroll-btn {
  left: 15px;
}

.right-photo-scroll-btn {
  right: 15px;
}

.photo-scroll-dots {
  color: black;
  font-size: 20px;
  right: 7px;
  opacity: .7;
  position: absolute;
  top: 10px;
  width: 50px;
}

.my-rescue-story {
  background-color: #B2EBF2;
  grid-area: my-rescue-story;
}


.activities {
  background-color: #9E9E9E;
  grid-area: activities;
}

.favorite-toys {
  background-color: #0097A7;
  grid-area: favorite-toys;
}

.quirks {
  background-color: #757575;
  grid-area: quirks;
}

.family {
  background-color: #00BCD4;
  grid-area: family;
}

.obsessions {
  background-color: #BDBDBD;
  grid-area: obsessions;
}

@media screen and (max-width: 950px) {
  body { 
  display: grid;
  grid-template-areas: "info-section     info-section  the-bassador  the-bassador"
                       "my-rescue-story  activities    photo-area    photo-area"
                       "obsessions       favorite-toys photo-area    photo-area"
                       "family           quirks        photo-area    photo-area";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0;
  }

  h1 {
    font-size: 1.2rem;
    margin-top: 5px;
  }

  p {
    font-size: .8rem;
    margin-bottom: 5px;
  }

  h6 {
    font-size: 14px;
    margin: 0px;
  }

  .basset-hound {
    margin: 10px;
    width: 20%;
  }
}

@media screen and (max-width: 800px) {
  body { 
  display: grid;
  grid-template-areas: "info-section    info-section     the-bassador"
                       "info-section    info-section     my-rescue-story"
                       "obsessions      photo-area       photo-area"
                       "family          photo-area       photo-area"
                       "activities      photo-area       photo-area"
                       "favorite-toys   photo-area       photo-area"
                       "quirks          photo-area       photo-area";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin: 0;
  }

  .basset-hound {
    margin: 5px;
    width: 15%;
  }

  h6 {
    font-size: 13px;
    margin: 0px;
  }

@media screen and (max-width: 675px) {
  body { 
  display: grid;
  grid-template-areas: "info-section    info-section    info-section"
                       "the-bassador    photo-area      photo-area"
                       "my-rescue-story photo-area      photo-area"
                       "favorite-toys   photo-area      photo-area"
                       "activities      photo-area      photo-area"
                       "family          photo-area      photo-area"
                       "obsessions      photo-area      photo-area"
                       "quirks          photo-area      photo-area";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: 0;
  }

  h6 {
    font-size: 13px;
    margin: 0px;
  }

  .basset-hound {
    margin: 5px;
    width: 15%;
  }

@media screen and (max-width: 500px) {
  body { 
  display: grid;
  grid-template-areas: "info-section    info-section"
                       "photo-area      photo-area"
                       "the-bassador    my-rescue-story"
                       "favorite-toys   activities"
                       "obsessions      obsessions"
                       "quirks          family";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 0;
  }

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  h6 {
    font-size: 13px;
    margin: 0 0 8px 0;
  }

  .grid-squares {
    padding: 10px;
  }

  .photo-area {
    padding: 0;
  }

  .basset-hound {
    margin: 5px;
    width: 15%;
  }

  .obsessions-icon {
    width: 10%;
  }
  }

